.faq {
  @include adaptiveDesktopToMobile('padding-bottom', 150, 75);
  @include adaptiveDesktopToMobile('padding-top', 150, 75);
}
.faq__title {
  @include adaptiveDesktopToMobile('font-size', 62, 38);
  font-weight: 500;
  line-height: 125%;
  margin: 0;
  @include adaptiveDesktopToMobile('margin-bottom', 70, 35);
}
.faq__cards {
}
.faq__card {
  background: #EEF5FB;
  @include adaptiveDesktopToMobile('padding', 40, 20);

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.faq__card-top {
  background: unset;
  border: unset;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  color: #000;

  @include vp-767 {
    .is-active & {
      align-items: flex-start
    }
  }
}
.faq__card-title {
  @include adaptiveDesktopToMobile('font-size', 28, 20);
  font-style: normal;
  font-weight: 500;
  max-width: 800px;
  margin: 0;
  margin-right: 15px;
}
.faq__card-arrow {
  flex-shrink: 0;
  transition: $trans-default;
  @include adaptiveDesktopToMobile('width', 58, 30);
  @include adaptiveDesktopToMobile('height', 58, 30);

  .is-active & {
    transform: rotate(90deg);
  }
}
.faq__card-content {
  max-width: 1125px;

  &::before {
    content: '';
    display: block;
    height: 10px;
  }

  a {
    color: #07F;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}