<section class="event">
  <img src="img/content/event-bg-2.png" alt="" class="event__bg" width="1680" height="1100">
  <div class="container">
    <h2 class="event__title">Progress Table</h2>
    <p class="event__description">
      В&nbsp;конце сезона мы&nbsp;определим 40&nbsp;победителей, которые получат вознаграждения. Все багхантеры, которые помогали заполнять прогресс-бар, попадают в&nbsp;Progress Table&nbsp;&mdash; рейтинг самых активных.
    </p>

    <div class="event__cards event__cards--big">
      <div class="event__card">
        <div class="event__card-value">30</div>
        <div class="event__card-info">
          багхантеров, которые внесли максимальный вклад в&nbsp;заполнение прогресс-бара
        </div>
      </div>
      <div class="event__card">
        <div class="event__card-value">10</div>
        <div class="event__card-info">
          багхантеров определим случайным образом среди заполнивших <span style="white-space: nowrap;">прогресс-бар</span>
        </div>
      </div>
    </div>

    <h2 class="event__title">Ещё больше наград</h2>

    <div class="event__info">
      <div class="event__info-left">+10% для каждого оплачиваемого отчёта</div>
      <div class="event__info-right">
        <ul>
          <li>Багхантерам, получившим максимальный бонус к&nbsp;выплатам</li>
          <li>Багхантерам, которые внесли наибольший вклад в&nbsp;заполнение прогресс-бара</li>
          <li>Бонус действует для отчётов, отправленных с&nbsp;июля 2024 по&nbsp;июнь 2025 года</li>
        </ul>
      </div>
    </div>
  </div>
</section>