<section class="event event--party">
  <img src="img/content/event-bg-1.png" alt="" class="event__bg" width="1680" height="1100">
  <div class="container">
    <h2 class="event__title">Закрытая вечеринка для багхантеров</h2>
    <p class="event__subtitle">Программа мероприятия</p>

    <div class="event__cards">
      <div class="event__card">
        Обзор планов VK&nbsp;Bug Bounty на&nbsp;2024 год
      </div>
      <div class="event__card">
        История обнаружения топовой уязвимости в&nbsp;VK&nbsp;Капсуле с&nbsp;Марусей
      </div>
      <div class="event__card">
        Рассказ про создание VK&nbsp;Bug Bounty от&nbsp;гуру багхантинга
      </div>
      <div class="event__card">
        Много классных подарков для наших гостей
      </div>
      <div class="event__card">
        Захватывающие игры с&nbsp;призами
      </div>
      <div class="event__card">
        ... и&nbsp;просто отличный вечер в&nbsp;хорошей компании
      </div>
    </div>

    <p class="event__description">
      Без сюрпризов, конечно, не обойдётся 😊
    </p>
  </div>
</section>