<section class="faq">
  <div class="container">
    <h2 class="faq__title">Часто задаваемые вопросы</h2>
    <div class="faq__cards" data-accordion="parent">
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Что такое Bounty pass?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          <p>
            В&nbsp;2024 году программе VK&nbsp;Bug Bounty исполняется 10&nbsp;лет. В&nbsp;честь этой даты мы&nbsp;подготовили серию мероприятий для багхантеров и&nbsp;разбили их&nbsp;на&nbsp;несколько сезонов. 
          </p>
          <p>
            Первый сезон&nbsp;&mdash; Bounty pass #1: Progress. В&nbsp;этот период для всех багхантеров будет доступен прогресс-бар с&nbsp;событиями от&nbsp;VK. Каждое новое событие&nbsp;&mdash; это уникальный бонус, который увеличивает сумму вознаграждения.
          </p>
          <p>
            Находите уязвимости, присылайте оплачиваемые отчёты и&nbsp;заполняйте шкалу прогресс-бара!
          </p>
        </div>
      </div>
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Сколько продлится Bounty pass #1: Progress?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          С&nbsp;21&nbsp;апреля по&nbsp;21&nbsp;июля.
        </div>
      </div>
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Как работает прогресс-бар?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          На&nbsp;прогресс-баре отображается общая сумма выплат багхантерам. Как только сумма выплат достигает очередного деления, открывается новое событие для всех багхантеров. Вас ждут четыре основных и&nbsp;одно финальное событие.
        </div>
      </div>
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Как работает накопительная система для уязвимостей?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          На&nbsp;старте багхантеры получают накопительный бонус к&nbsp;выплате за&nbsp;каждый оплачиваемый отчёт. Бонус начинается с&nbsp;5% за&nbsp;первый отчёт и&nbsp;увеличивается на&nbsp;5% с&nbsp;каждым последующим отчётом. Минимальный бонус составляет 1 000&nbsp;рублей. Накопительный бонус будет действовать до&nbsp;конца срока действия Bounty Pass #1: Progress.
        </div>
      </div>
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Какие награды ждут победителей?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          Уникальный мерч и&nbsp;денежные бонусы, которые будут действовать до&nbsp;конца сезона.
        </div>
      </div>
    </div>
  </div>
</section>