<section class="faq">
  <div class="container">
    <h2 class="faq__title">Часто задаваемые вопросы</h2>
    <div class="faq__cards" data-accordion="parent">
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Как получить проходку?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          Прислать четыре оплачиваемых отчёта в&nbsp;период с&nbsp;12&nbsp;февраля по&nbsp;11&nbsp;апреля.
        </div>
      </div>
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Если четыре уязвимости были отправлены до&nbsp;12&nbsp;февраля, можно&nbsp;ли получить приглашение?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          К&nbsp;сожалению, нет, учитывается только период с&nbsp;12&nbsp;февраля по&nbsp;11&nbsp;апреля.
        </div>
      </div>
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Можно&nbsp;ли пригласить на&nbsp;вечеринку&nbsp;+1?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          Количество мест на&nbsp;мероприятии ограничено, поэтому приглашение действует только на&nbsp;одного.
        </div>
      </div>
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Куда сдавать найденные уязвимости?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          Вы&nbsp;можете выбрать любую платформу:<br> <a href="https://bugbounty.bi.zone/" target="_blank">BI.ZONE Bug Bounty</a>, <a href="https://bugbounty.standoff365.com/" target="_blank">Standoff Bug Bounty</a> или <a href="https://bugbounty.ru/" target="_blank">Bugbounty.ru</a>.
        </div>
      </div>
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Что будет на&nbsp;мероприятии?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          Вы&nbsp;сможете послушать доклады, узнать о&nbsp;планах VK&nbsp;Bug Bounty на&nbsp;2024&nbsp;год, задать вопросы триажерам&nbsp;VK и&nbsp;классно провести время.
        </div>
      </div>
      <div class="faq__card" data-accordion="element">
        <button class="faq__card-top" data-accordion="button">
          <h3 class="faq__card-title">Как связаться с&nbsp;организаторами мероприятия?</h3>
          <svg class="faq__card-arrow" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
            <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
            <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="faq__card-content" data-accordion="content">
          Все вопросы отправляйте на&nbsp;почту: <a href="mailto:bugbounty@vk.team">bugbounty@vk.team</a>.
        </div>
      </div>
    </div>
  </div>
</section>