<section class="indicators">
  <div class="container">
    <div class="indicators__cards">
      <div class="indicators__card">
        <div class="indicators__card-value">>30</div>
        <div class="indicators__card-description">программ для поиска багов</div>
      </div>
      <div class="indicators__card">
        <div class="indicators__card-value">>18 000</div>
        <div class="indicators__card-description">отчётов получено и&nbsp;проверено</div>
      </div>
      <div class="indicators__card">
        <div class="indicators__card-value">>236 <span>млн руб</span></div>
        <div class="indicators__card-description">получили багхантеры за&nbsp;время существования программы</div>
      </div>
    </div>
  </div>
</section>