<div class="line">
  <div class="line__wrapper">
    <div class="line__content marquee-container">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty 10 years unlocked</div>
    </div>
  </div>
</div>