<div class="line line--without-border-bottom">
  <div class="line__wrapper">
    <div class="line__content marquee-container">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
    <div class="line__content">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
    <div class="line__content">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
    <div class="line__content">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
    <div class="line__content">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
    <div class="line__content">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
    <div class="line__content">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
    <div class="line__content">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
    <div class="line__content">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
    <div class="line__content">
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">VK Bug Bounty</div>
      <img src="img/content/bt.png" alt="" class="line__icon" width="40" height="40">
      <div class="line__content-text">Bounty pass #1: Progress</div>
    </div>
  </div>
</div>