<div class="Dialog_dialogBody__esWnr">
	<div class="Dialog_dialogTitle__Nyz6T">Ваша заявка принята <div class="Dialog_dialogClose__GAVNu">
			<svg data-close-modal width="25" height="25" viewBox="0 0 25 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<rect x="0.607422" y="23.2344" width="32" height="2" transform="rotate(-45 0.607422 23.2344)"></rect>
				<rect x="23.2344" y="24.6484" width="32" height="2" transform="rotate(-135 23.2344 24.6484)"></rect>
			</svg>
		</div>
	</div>
</div>