<section class="party">
  <img src="img/content/party.png" alt="" class="party__illustration" width="480" height="530">
  <div class="container">
    <h2 class="party__title">VK&nbsp;Bug Bounty: 10&nbsp;years&nbsp;unlocked</h2>
    <p class="party__description">
      Приглашаем отметить десятилетие программы вместе&nbsp;с&nbsp;нами!<br><br>
      Присоединяйтесь, если хотите стать частью закрытой тусовки и&nbsp;узнать о&nbsp;планах VK&nbsp;Bug&nbsp;Bounty.
    </p>
    <div class="party__cards">
      <div class="party__card">
        <h3 class="party__card-title">Что будет на&nbsp;мероприятии</h3>
        <div class="party__card-content">
          <ul>
            <li>Вы&nbsp;узнаете о&nbsp;планах на&nbsp;2024 год</li>
            <li>Услышите историю возникновения Bug&nbsp;Bounty в&nbsp;компании</li>
            <li>Узнаете истории о&nbsp;нетривиально найденных уязвимостях</li>
            <li>Сможете обменяться опытом и&nbsp;расширить круг полезных знакомств</li>
            <li>Получите классный мерч и&nbsp;отлично проведёте время на&nbsp;афтепати</li>
          </ul>
        </div>
      </div>
      <div class="party__card">
        <h3 class="party__card-title">Как попасть на&nbsp;вечеринку?</h3>
        <div class="party__card-content">
          Прислать четыре оплачиваемых отчёта в&nbsp;период с&nbsp;12&nbsp;февраля по&nbsp;11&nbsp;апреля.<br><br>
          Мы&nbsp;вас ждём!
        </div>
        <a href="/bbparty" class="party__card-link">Узнать подробнее</a>
      </div>
    </div>
  </div>
</section>

