<section class="platforms platforms--with-bg">
  <div class="container">
    <h2 class="platforms__title">Сдать отчёт можно на&nbsp;любой платформе</h2>
    <div class="platforms__cards">
      <div class="platforms__card">
        <img src="img/content/platform-1.png" alt="" class="platforms__card-icon" width="65" height="65px">
        <div class="platforms__card-name">Standoff Bug Bounty</div>
        <a href="https://bugbounty.standoff365.com/vendors/vk/" class="platforms__card-link" target="_blank">Перейти</a>
      </div>
      <div class="platforms__card">
        <img src="img/content/platform-2.png" alt="" class="platforms__card-icon" width="65" height="65px">
        <div class="platforms__card-name">BI.ZONE Bug Bounty</div>
        <a href="https://app.bugbounty.bi.zone/companies/group/vk" class="platforms__card-link" target="_blank">Перейти</a>
      </div>
      <div class="platforms__card">
        <img src="img/content/platform-3.png" alt="" class="platforms__card-icon" width="65" height="65px">
        <div class="platforms__card-name">Bugbounty.ru</div>
        <a href="https://bugbounty.ru/app/programs/vk" class="platforms__card-link" target="_blank">Перейти</a>
      </div>
    </div>
  </div>
</section>