<section class="platforms">
  <div class="container">
    <h2 class="platforms__title">Платформы</h2>
    <p class="platforms__description">Выбирайте платформу, присоединяйтесь к&nbsp;программе и&nbsp;получайте вознаграждение</p>
    <div class="platforms__cards">
      <div class="platforms__card">
        <img src="img/content/platform-1.png" alt="" class="platforms__card-icon" width="65" height="65px">
        <div class="platforms__card-name">Standoff Bug Bounty</div>
        <a href="https://bugbounty.standoff365.com/vendors/vk/" class="platforms__card-link" target="_blank">Перейти</a>
      </div>
      <div class="platforms__card">
        <img src="img/content/platform-2.png" alt="" class="platforms__card-icon" width="65" height="65px">
        <div class="platforms__card-name">BI.ZONE Bug Bounty</div>
        <a href="https://app.bugbounty.bi.zone/companies/group/vk" class="platforms__card-link" target="_blank">Перейти</a>
      </div>
      <div class="platforms__card">
        <img src="img/content/platform-3.png" alt="" class="platforms__card-icon" width="65" height="65px">
        <div class="platforms__card-name">Bugbounty.ru</div>
        <a href="https://bugbounty.ru/app/programs/vk" class="platforms__card-link" target="_blank">Перейти</a>
      </div>
    </div>
    <div class="platforms__info">
      VK&nbsp;&mdash; первая из&nbsp;компаний, <span>представленных на&nbsp;всех российских платформах Bug Bounty</span>
    </div>
  </div>
</section>