<section class="progress">
  <div class="container">
    <h2 class="progress__title">Bounty pass: Progress table</h2>
    <div class="progress__list-wrapper">
      <div class="progress__list-header">
        <div class="progress__list-header-place">Место</div>
        <div class="progress__list-header-user">Пользователь</div>
      </div>
      <ul class="progress__list">
        <li class="progress__item">
          <div class="progress__item-place">
            <img src="img/content/place-1.svg" alt="" class="progress__item-place-icon" width="60" height="60">
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-1.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">samyi_glavniy_01</div>
              <div class="progress__item-user-description">получил больше всего баунти</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            <img src="img/content/place-2.svg" alt="" class="progress__item-place-icon" width="60" height="60">
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-2.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">samyi_glavniy_02</div>
              <div class="progress__item-user-description">сдал больше всего отчётов</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            1
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-3.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">hochu_mnogo$$bounty</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            2
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-4.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">super00krut</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            3
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-5.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">ochen2klassnyi_nik1</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            4
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-6.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">hello!everybody</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            5
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-7.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">kovarnyi_enot2005</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            6
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-3.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">hochu_mnogo$$bounty</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            7
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-4.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">super00krut</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            8
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-5.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">ochen2klassnyi_nik1</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            9
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-6.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">hello!everybody</div>
            </div>
          </div>
        </li>
        <li class="progress__item">
          <div class="progress__item-place">
            10
          </div>
          <div class="progress__item-user">
            <img src="img/content/user-7.png" alt="" class="progress__item-user-avatar" width="60" height="60">
            <div class="progress__item-user-text">
              <div class="progress__item-user-name">kovarnyi_enot2005</div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>