<section class="programm">
  <div class="container">
    <h2 class="programm__title">Программа</h2>
    <div class="programm__cards">
      <div class="programm__card">
        <div class="programm__card-text">
          <div class="programm__card-time">18:00–18:15</div>
          <h3 class="programm__card-title">Сбор участников и&nbsp;Welcome-кофе</h3>
        </div>
      </div>
      <div class="programm__card">
        <div class="programm__card-text">
          <div class="programm__card-time">18:15–18:45</div>
          <h3 class="programm__card-title">История VK&nbsp;Bug&nbsp;Bounty</h3>
          <div class="programm__card-who">
            <div class="programm__card-who-name">Владимир Дубровин</div>
            <div class="programm__card-who-position">Технический советник по&nbsp;ИБ</div>
          </div>
        </div>
        <img src="img/content/who-1.png" alt="" class="programm__card-photo" width="207" height="207">
        <div class="programm__card-more" data-accordion="parent">
          <div class="programm__card-more-element" data-accordion="element">
            <div class="programm__card-more-content" data-accordion="content">
              <b>О чём доклад</b><br>
              Как начинался VK&nbsp;Bug Bounty: взгляд на&nbsp;процессы изнутри, workflow для бахгантера и&nbsp;для компании
            </div>
            <button class="programm__card-more-button" data-accordion="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
                <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
                <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="programm__card">
        <div class="programm__card-text">
          <div class="programm__card-time">18:45–19:15</div>
          <h3 class="programm__card-title">From Zero to&nbsp;Hero</h3>
          <div class="programm__card-who">
            <div class="programm__card-who-name">Алексей Лямкин</div>
            <div class="programm__card-who-position">Эксперт по&nbsp;направлению Bug Bounty</div>
          </div>
        </div>
        <img src="img/content/who-2.png" alt="" class="programm__card-photo" width="207" height="207">
        <div class="programm__card-more" data-accordion="parent">
          <div class="programm__card-more-element" data-accordion="element">
            <div class="programm__card-more-content" data-accordion="content">
              <b>О чём доклад</b><br>
              Как превратить простой мисконфиг в&nbsp;угрозу для бизнеса и&nbsp;находить уязвимости до&nbsp;публикации CVE
            </div>
            <button class="programm__card-more-button" data-accordion="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
                <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
                <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="programm__card">
        <div class="programm__card-text">
          <div class="programm__card-time">19:15–19:45</div>
          <h3 class="programm__card-title">Взлом VK&nbsp;Капсулы c&nbsp;Марусей</h3>
          <div class="programm__card-who">
            <div class="programm__card-who-name">Владимир Кононович</div>
            <div class="programm__card-who-position">Старший специалист по&nbsp;обратной разработке, компания BI.ZONE</div>
          </div>
        </div>
        <img src="img/content/who-3.png" alt="" class="programm__card-photo" width="207" height="207">
        <div class="programm__card-more" data-accordion="parent">
          <div class="programm__card-more-element" data-accordion="element">
            <div class="programm__card-more-content" data-accordion="content">
              <b>О чём доклад</b><br>
              Как удалось найти в&nbsp;VK&nbsp;Капсуле Нео серьёзную уязвимость (которая оказалась в&nbsp;устройстве не&nbsp;по&nbsp;вине разработчиков&nbsp;VK), о&nbsp;сложностях отладки VK&nbsp;Капсулы и&nbsp;выборе правильного PoC
            </div>
            <button class="programm__card-more-button" data-accordion="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
                <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
                <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="programm__card">
        <div class="programm__card-text">
          <div class="programm__card-time">19:45–20:15</div>
          <h3 class="programm__card-title">VK&nbsp;Bug Bounty в&nbsp;2024 году</h3>
          <div class="programm__card-who">
            <div class="programm__card-who-name">Пётр Уваров</div>
            <div class="programm__card-who-position">Руководитель направления Bug Bounty</div>
          </div>
        </div>
        <img src="img/content/who-4.png" alt="" class="programm__card-photo" width="207" height="207">
        <div class="programm__card-more" data-accordion="parent">
          <div class="programm__card-more-element" data-accordion="element">
            <div class="programm__card-more-content" data-accordion="content">
              <b>О чём доклад</b><br>
              Как мы&nbsp;отмечаем 10&nbsp;лет и&nbsp;что нового будет в&nbsp;VK&nbsp;Bug Bounty в&nbsp;2024 году
            </div>
            <button class="programm__card-more-button" data-accordion="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
                <circle cx="29.6416" cy="29.7529" r="29" fill="white"/>
                <path d="M26.6416 20.0256L36.4901 30.2529L26.6416 40.4802" stroke="black" stroke-width="2.4" stroke-linecap="square"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="programm__card">
        <div class="programm__card-text">
          <div class="programm__card-time">20:15–00:00</div>
          <h3 class="programm__card-title">Афтепати </h3>
        </div>
      </div>
    </div>
  </div>
</section>