<section class="programms">
  <div class="container">
    <h2 class="programms__title">Программы</h2>
    <p class="programms__description">От&nbsp;почты Mail.ru&nbsp;&mdash; к&nbsp;30+&nbsp;проектам VK&nbsp;Bug Bounty!</p>
    <div class="programms__navigation">
      <button class="programms__navigation-btn programms__navigation-btn--prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
          <path d="M32.5 39.4802L22.6515 29.253L32.5 19.0257" stroke="#0077FF" stroke-width="2.4" stroke-linecap="square"/>
        </svg>
      </button>
      <button class="programms__navigation-btn programms__navigation-btn--next">
        <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
          <path d="M32.5 39.4802L22.6515 29.253L32.5 19.0257" stroke="#0077FF" stroke-width="2.4" stroke-linecap="square"/>
        </svg>
      </button>
    </div>
    <div class="programms__slider swiper">
      <div class="swiper-wrapper">
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-1.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">ВКонтакте</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-2.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Дзен</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-3.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Одноклассники</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-10.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK WorkSpace</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-11.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Tarantool</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-12.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK Teams</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-19.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK Play</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-20.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">GeekBrains</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-21.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Skillfactory</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-28.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Тетрика</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-29.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK Customer Experiens Hub</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-4.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Облако Mail.ru</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-5.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Календарь Mail.ru</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-6.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Почта Mail.ru</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-13.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK Капсула</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-14.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK Реклама</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-15.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Портал</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-22.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Skillbox</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-23.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Учи.ру</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-24.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK People Hub</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-31.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">ТАРМ</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-32.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Оператор рекламных данных</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-7.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">RuStore</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-8.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK Cloud</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-9.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK Pay</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-16.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Мой Мир</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-17.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">VK HR Tek</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-18.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Юла</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-25.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Чемпионаты VK</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-26.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">ESforce</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-27.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Академика</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-30.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Plazius</div>
        </div>
        <div class="programms__slide swiper-slide">
          <img src="img/content/icon-33.png" alt="" class="programms__slide-icon" height="65">
          <div class="programms__slide-name">Relap</div>
        </div>
      </div>
    </div>
  </div>
</section>