body, html {
  scroll-behavior: smooth;
}

.title {
  &-h2 {
    @include adaptiveDesktopToMobile('font-size', 60, 28);
    font-weight: 500;
    @include adaptiveDesktopToMobile('line-height', 74, 34);
  }
  &-h3 {
    font-weight: 500;
    @include adaptiveDesktopToMobile('font-size', 48, 28);
    @include adaptiveDesktopToMobile('line-height', 56, 34);
  }
}

